.subscribeButton {
    width: 260px;
    height: 64px;

    display: grid;
    place-items: center;

    border-radius: 2rem;
    border: none;

    background-color: var(--yellow-500);

    font-weight: 700;
    font-size: 1.2rem;

    transition: filter .2s;

    &:hover {
        filter: brightness(.8);
    }
}